<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>

      <%- include('partials/messages') %>

        <form action="/users/register" method="POST">
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>" />
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>" />
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>" />
          </div>
          <div class="form-group mb-3">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof passwordConfirmation != 'undefined' ? passwordConfirmation : '' %>" />
          </div>

          <div class="form-group mb-3">
            <label for="phone">Enter your phone number</label>
            <input type="tel" id="phone" name="phone" class="form-control" placeholder="010-123-123-12"
              value="<%= typeof phone != 'undefined' ? phone : '' %>" />
          </div>
          <div class="form-group mb-3">
            <label for="nationalID">Enter your Nation number</label>
            <input type="nationalID" id="nationalID" name="nationalID" class="form-control" placeholder="nationalID"
              value="<%= typeof nationalID != 'undefined' ? nationalID : '' %>" />
          </div>
          <div class="form-group mb-3">
            <label for="city">Enter your City</label>
            <select name="city" id="city" class="form-control">
              <option disabled selected value> -- select an City -- </option>
              <option value="alexandria">Alexandria</option>
              <option value="aswan">Aswan</option>
              <option value="assiut">Assiut</option>
              <option value="beheira">Beheira</option>
              <option value="beni Suef">Beni Suef</option>
              <option value="cairo">Cairo</option>
              <option value="dakahlia">Dakahlia</option>
              <option value="gharbia">Gharbia</option>
              <option value="giza">Giza</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="birthDate">Birthday</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control"
              value="<%= typeof birthDate != 'undefined' ? birthDate : '' %>">
          </div>
          <div class="form-group mb-3">
            <label for="bloodType">Enter your BloodType</label>
            <select name="bloodType" id="bloodType" class="form-control">
              <option disabled selected value> -- select an BloodType -- </option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-3" style="width: 100%;">
            Register
          </button>

        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>